In [4]:
# python output
print('hello world')
print(7)
print(3.5)
print(True)
print('hello world',7,3.5,True)

hello world
7
3.5
True
hello world 7 3.5 True

In [5]:
# data types
# integer
print(8)
# float
print(9.60)
# string
print('hello world')
# complex
print(5+6j)
# list/array
print([1,2,3,4,5])
# tuple
print((1,2,3,4,5))
# set
print({1,2,3,4,5})
# dictionary
print({'name':'saniya','gender':'female','age':21})

8
9.6
hello world
(5+6j)
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{'name': 'saniya', 'gender': 'female', 'age': 21}

In [6]:
# type

type(3)

int

In [7]:
# variables
name='saniya'
print(name)

a=5
b=6
print(a+b)

# dynamic typing=do not need to tell data type ex: a=5
# static typing=need to tell data type ex:int a=5;
# dynamic banding
a=5
print(a)
a='saniya'
print(a)


a,b,c=3,4,5
print(a,b,c)

a=b=c=5
print(a,b,c)

saniya
11
5
saniya
3 4 5
5 5 5

In [8]:
# keywords and identifiers
# keywords: if, else, class, lambda, etc

In [9]:
# identifiers: creating name 
# rules:
# 1) can not start with digit ex: 1name
name1='saniya'
print(name1)

saniya

In [10]:
# 2)you can use special chars->_ ex:first-name
first_name='saniya'
_='najiya'
print(first_name)
print(_)

saniya
najiya

In [11]:
# identifier can not be keyword

In [13]:
# user input
input('Enter your name')

Enter your name saniya

'saniya'

In [14]:
fnum=input('enter first number')
snum=input('enter second number')
print(type(fnum),type(snum))
result=int(fnum)+int(snum)
print(result)
print(type(fnum))

enter first number 45
enter second number 45

<class 'str'> <class 'str'>
90
<class 'str'>

In [15]:
fnum=int(input('enter first number'))
snum=int(input('enter second number'))
print(type(fnum),type(snum))
result=fnum+snum
print(result)
print(type(fnum))

enter first number 45
enter second number 56

<class 'int'> <class 'int'>
101
<class 'int'>

In [1]:
# type of conversion
# implicit type conversion
print(5+5.6)
print(type(5),type(5.6))

10.6
<class 'int'> <class 'float'>

In [6]:
# explicit type conversion
# str->int
type(int('4'))

4

In [9]:
int(4.5)

4

In [10]:

str(5)

'5'

In [11]:
float(4)

4.0

In [ ]:
# int(4+5j)  incorre

In [17]:
# literals

a=0b1010 #binary literals
b=100 #decimal literal
c=0o310 #octal literal
d=0x12c #hexadecimal literal


# float literal
float_1=10.5
float_2=1.5e2  #1.5*1062
float_3=1.5e-3 #1.5*10^-3

# complex literal
x=3.14j
print(a,b,c,d)
print(float_1,float_2,float_3)
print(x,x.imag,x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [18]:
string='this is python.'
strings="this is python."
char="C"
multiline_str="""this is a multiline str with more than one line code"""
unicode=u"\U0001f600\U0001F606\U0001F923"
raw_str=r"raw\n string"
print(string)
print(strings)
print(multiline_str)
print(char)
print(unicode)
print(raw_str)

this is python.
this is python.
this is a multiline str with more than one line code
C
ðŸ˜€ðŸ˜†ðŸ¤£
raw\n string

In [20]:
# boolean

a=True + 4
b=False + 10
print("a:",a)
print("b:",b)

a: 5
b: 10

In [21]:
a=None
print(a)

None

In [23]:
k=None
a=8
b=3
print('Program exe')

Program exe